h1 {
  line-height: 57px;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-weight: bold;
  color: #455560;
  font-size: 73px;
}
h2 {
  font-family: 'Amatic SC', cursive;
  color: #455560;
  font-size: 42px;
}
h3 {
  font-family: 'Amatic SC', cursive;
  color: #455560;
  font-size: 16px;
}
h4 {
  font-family: 'Amatic SC', cursive;
  color: #455560;
  font-size: 12px;
}
p {
  font-family: Verdana;
  font-weight: normal;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}
.intro {
  font-family: Helvetica, arial, sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}
.quote {
  font-family: Helvetica, arial, sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 12px;
  text-indent: 70px;
  font-style: italic;
}
