 #nav #contact-head ul li .onec
{
 	margin-left:0px;
 	
 }
 #nav_links li .end
 {
 	padding-right: 0px;
 }
 #nav_links li a
 {
 	color: #fff672;
 }
 #nav_links li .onec
 {
 	padding-left:0px;
 	border-left: none;
 }
 
#main #call-to-action .end
 {
 	background: none;
 	 width: 282px !important;
 	 padding-right: 0px;
 	
 }
 #nav-foot ul li .onec
 {
 	padding-left:0px;
 	background: none;
 }
 #legal ul li .onec
 {
 	padding-left:0px;
 	background: none;
 }
 
 #main #one p
 {
 	padding-top: 20px;
 }
 #main #two h3
 {
 	font-size: 32px;
 }
 #main #two h2
 {
 	font-size: 50px;
 }
 
 #main #two .blue
 {
 	font-size: 27px;
 }
  #main #four h2
  {
  	font-size: 41px;
  }
  #call-to-action .action #phoneimg
  {
  	font-size: 26px !important;
  	height: 50px;
  }
  
  #nav-foot ul li a
  {
  	color: #fff;
  }